@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }
  
  body {
    @apply text-zinc-100 bg-zinc-950 w-screen h-screen;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}


@layer utilities{
  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
}

a{
  grid-template-columns: repeat(2,1fr);
}

.animation-fadeIn{
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}